<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTURACION</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">FACTURACION</a>
        </div>
      </nav>
    <div id="principal">
        <div class="row">
            <div class="col s9">
                <div class="row">
                    <div class="input-field col s4">
                        <input v-model="id_busqueda" type="number" placeholder="Ingrese id_factura">
                    </div>
                    <div class="input-field col s4">
                        <button v-on:click="buscarFactura()" class="btn">Buscar Factura</button>
                    </div>
                </div>

                <table class="card-panel teal">
                    <tr>
                        <th>Id Factura</th>
                        <th>Nombre Producto</th>
                        <th>Nombre Cliente</th>
                        <th>Iva</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                        <th>Forma de pago</th>
                        <th>Acción</th>
                    </tr>
                    <tr v-for="factura of lista_facturas">
                        <td>{{ factura.id_factura }}</td>
                        <td>{{ factura.nombre_producto }}</td>
                        <td>{{ factura.nombre_cliente }}</td>
                        <td>{{ factura.iva }}</td>
                        <td>{{ factura.cantidad }}</td>
                        <td>{{ factura.subtotal }}</td>
                        <td>{{ factura.total }}</td>
                        <td>{{ factura.forma_pago }}</td>
                        <td>
                            <button v-on:click="eliminarFactura(factura.id_factura)" class="btn red">Eliminar</button>
                            <button v-on:click="editarFactura(factura.id_factura,factura.nombre_producto,factura.nombre_cliente,factura.iva,factura.cantidad,factura.subtotal,factura.total,factura.forma_pago)"class="btn blue" >Editar</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col s3 card-panel blue" >
                <div class="row">
                    <div class="input-field col s12">
                        <input v-model="nombre_producto" type="text" placeholder="Ingrese Nombre Producto">
                        <label>Nombre Producto</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input v-model="nombre_cliente" type="text" placeholder="Ingrese Nombre del Cliente">
                        <label>Nombre Cliente</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input v-model="iva" type="number" placeholder="Ingrese Iva del Producto">
                        <label>Iva Producto</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input v-model="cantidad" type="number" placeholder="Cantidad">
                        <label>Cantidad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input v-model="subtotal"type="number" placeholder="Ingrese Subtotal">
                        <label>Subtotal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input v-model="total" type="number" placeholder="Ingrese Total">
                        <label>Total</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input v-model="forma_pago" type="text" placeholder="Forma de pago">
                        <label>Forma de Pago</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button v-on:click="guardarFactura()" class="btn">Guardar</button>
                    </div>
                    <div class="col s6">
                        <button v-on:click="actualizarFactura()" class="btn orange 100%">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    






    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</body>
</html>